<% if policy(Application.new).create? %>
  <%= link_to "New TNC application", new_state_application_path(@state), class: 'btn btn-success' %>
<% end %>


<div class="container">
  <div class="col-md-11">
    <% @applications.each do |application| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to application.name, [@state, application] %>

            <% if application.frequency != nil %>
              <%= application.frequency %>
            <% end %>

            <% if application.due_date != nil %>
              <%= application.due_date.to_date %>
            <% end %>

            <% if policy(application).destroy? %>
              <%= link_to "", state_application_path(@state, application), method: :delete, class: 'pull-right glyphicon glyphicon-remove',
              data: { confirm: 'Are you sure you want to delete this?'} %>
            <% end %>

            <% if policy(application).edit? %>
              <%= link_to "", edit_state_application_path(@state, application), class: 'pull-right glyphicon glyphicon-pencil' %>
            <% end %>

          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
